@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0;
}

li, .logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

li span, .logo span {
    /* padding: 0 10px;
    text-align: center; */
}

li:not(:last-child) { 
    margin-bottom: 14px;  
 }
  
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
    grid-template-rows: repeat(12, 1fr);
}

.sidebar {
    background-color: crimson;
    grid-row: 1/13;
    display: grid;
    grid-template-rows: 1fr repeat(3, 3fr);
    align-items: center;
    padding-left: 15px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2/5;
    grid-row: 1/2;
    margin-top: 5px;
    margin-right: 10px;
}

.logo {
    height: 100%;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 25px 0; 
}

.sidebar {
    color: white;
    background-color: crimson;
}

.search {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

#search-bar {
    width: 60%;
    border-radius: 10px;
    border-style: none;
    height: 50%;
    background-color: rgb(227, 231, 240);
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#avatar-small {
    height: 50px;
    padding: 10px;
}